* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-x: hidden;
    padding: 10px;
}
header.pugdesign1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    & > img.LOGO1{
        height: 50px;
        margin-left: 1rem;
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}
header.pugdesign2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(162, 171, 76);
    & > img.LOGO2{
        height: 50px;
        margin-left: 1rem;
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
        & > .call_to_action{
            border: 2px solid rgb(9, 53, 37);
        }
    }
}
header.pugdesign3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A67B5B;
    & > img.LOGO3{
        height: 50px;
        margin-left: 1rem;
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a,i{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
        & > .call_to_action{
            border: 2px solid yellow;
        }
    }
}
header.staticdesign1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    & > img.LOGO1{
        height: 50px;
        margin-left: 1rem;
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}
header.staticdesign2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    & > img.LOGO1{
        height: 50px;
        margin-left: 1rem;
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
    & > form{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
        }
        & > button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
        }
    
    }
}
header.pugdesign4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A67B5B;
    & > img.LOGO4{
        height: 50px;
        margin-left: 1rem;
        &:hover{
            transform: scale(1.1);
            transition: all 0.3s;
            transform: rotateZ(720deg);
        }
    }
    & >  nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.3s;
            &:hover{
                background-color:#543310 ;
                color: white;
            }
        }

    }
}
header.pugdesign5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A67B5B;
    & > img.LOGO5{
        height: 50px;
        margin-left: 1rem;
        &:hover{
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
    & >  nav.buttons{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.3s;
            &:hover{
                background-color:#543310 ;
                color: white;
                box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
                -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
                -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            }
        }
    }
    & > h1{
        font-size: 1.5rem;
        font-weight: bold;
        color: transparent;
    }
    &:hover {
        & > img.LOGO5 {
           transform: rotateZ(720deg);
       }

       & > h1 {
           color: black;
           transform: translateX(0);
       }
}
}
header.pugdesign8{
   display: flex;
   flex-direction: row;
   background-color: black;
   justify-content: space-between;
   align-items: center;
   transition: 2s;
   & img{
    height: 50px;
        margin-left: 1rem;
        transition: 1s;
   }
   & nav.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
    &:hover{
        background-color:#ffffff ;
        color: black;
        box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
    }
   }
  &:hover{
    background-color: red;
    background-blend-mode: color;
    & img{
        transform: rotateZ(720deg);
    }
  }
}
header.pugdesign9{
    display: flex;
    flex-direction: row;
    background-color: rgb(66, 195, 51);
    justify-content: space-between;
    align-items: center;
    transition: 2s;
    & img{
        height: 50px;
        margin-left: 1rem;
        transition: 1s;
        &:hover{
            transform: rotateZ(720deg);
        }
    }
    & nav.nav a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s;
        &:hover{
            background-color:#ffffff ;
            color: black;
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
    & form{
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s;
        & input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
        }
        & button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
        }
        &:hover{
            transform: scale(1.1);
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
}
header.pugdesign10{
    display: flex;
    flex-direction: row;
    background-color: rgb(66, 195, 51);
    justify-content: space-between;
    align-items: center;
    transition: 2s;
    & img{
        height: 50px;
        margin-left: 1rem;
        transition: 1s;
        &:hover{
            transform: rotateZ(720deg);
        }
    }
    & nav.nav a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s;
        &:hover{
            background-color:#ffffff ;
            color: black;
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
    & form{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
        & input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            font-style: italic;
            transition: 0.5s;
            &:hover{
                background-color: rgb(255, 247, 0);
                color: white;
            }
        }
        & button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
        }
        &:hover{
            transform: scale(1.1);
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
}
header.designvertical{
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 195, 51);
    max-width: 6.5rem;
    & img{
        width: 5rem;
        margin-left: 0.5rem;
        transition: 1s;
        &:hover{
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
    & nav.navigation a{
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        margin-top: 10rem;
        transition: 1s;
        &:hover{
            background-color:#ffffff ;
            color: black;
            box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0,0,0,0.73);
        }
    }
}
.return{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    & a{
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        padding: 0.5rem;
    }
}